<div class="login-popup">
    <div class="row mx-auto">
        <div class="col-12 mt-1 mb-2 text-center">
            <h3>E-Commerce</h3>
        </div>
        <div class="col-12 my-1">
            <label class="font-weight-bold">Email:</label>
            <input type="email" [(ngModel)]="userEmail" class="form-control" placeholder="Email" />
        </div>
        <div class="col-12 my-1">
            <label class="font-weight-bold">Password:</label>
            <input type="password" [(ngModel)]="password" class="form-control" placeholder="Password" />
        </div>
        <div class="col-12 text-center my-2">
            <button class="btn btn-success" (click)="login()">Submit</button>
        </div>
    </div>
</div>