.header-section {
  padding: 0.75%;
  background-color: rgb(0,0,0,0.5);
  color: beige;
}

.cart-count {
  position: absolute;
  max-width: fit-content;
  border-radius: 25px;
  top: -0.2rem;
  right: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
}